* {
  text-align: center;
 width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.root-main {
  display: flex;
  gap: 40px;
 
}

.navbar {
  background: gray;
  padding: 30px;
}
.navbar ul  {
  display: flex;
  gap: 20px;
  justify-items: center;
  align-items: center;
  justify-self: center;
  text-decoration: none;
}
.navbar ul a.active {
  color: red;
}
.about {
  background: rgba(255, 0, 0, 0.301);
  padding: 100px;
}
.home {
  background: rgba(255, 238, 0, 0.301);
  padding: 100px;
}
.settings {
  background: rgba(0, 255, 13, 0.301);
  padding: 100px;
}
.blogs {
  background: rgba(38, 0, 255, 0.301);
  padding: 100px;
}

.sideBar {
  background: rgba(255, 0, 234, 0.301);
  padding: 100px;
   width: 100%;
}
.sideBar ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  
  text-decoration: none;
}